<%if(success && success.length){%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=success%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%> <%if(updated && updated.length){%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=updated%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%> <%if(reviewCreated && reviewCreated.length){%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=reviewCreated%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%}%> <%if(reviewdeleted && reviewdeleted.length){%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=reviewdeleted%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%}%> <%if(del && del.length){%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=del%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  <%}%>
</div>

<%if(err && err.length){%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=err%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%}%> <%if(usercreated && usercreated.length){%>
<div
  class="alert alert-success alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=usercreated%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%}%> <%if(error && error.length){%>
<div
  class="alert alert-danger alert-dismissible fade show col-6 offset-3"
  role="alert"
>
  <%=error%>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%}%>
