<% layout("./layouts/boilerplate") %>
<div class="container-fluid main-container">
  <div class="row">
    <% for (listing of listings) { %>
    <div class="col-md-4">
      <a
        href="/listing/<%= listing._id %>/show"
        class="card-link text-decoration-none text-dark"
      >
        <div class="card no-border">
          <img
            src="<%= listing.image.url %>"
            class="card-img"
            alt="<%= listing.title %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text location">
              <strong><%= listing.location %> ~ <%= listing.country %></strong>
            </p>
            <p class="card-text price">
              <strong>
                ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") :
                "N/A" %> / night</strong
              >
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
