<% layout("./layouts/boilerplate") %>
<div class="container-fluid bg bg-body-light">
  <div class="row">
    <% for (listing of listings) { %>
    <div class="col-lg-4 mb-4">
      <a
        href="/listing/<%= listing._id %>/show"
        class="card-link text-decoration-none text-dark"
      >
        <div class="card h-100">
          <img
            src="<%= listing.image %>"
            class="card-img-top img-fluid"
            alt="<%= listing.title %>"
            style="object-fit: cover; height: 200px"
          />
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text price">
              ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") :
              "N/A" %> / night
            </p>
            <p class="card-text location">
              <%= listing.location %> ~ <%= listing.country %>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
