<% layout("./layouts/boilerplate") %>
<div class="filters">
  <div class="filter">
    <i class="fas fa-hotel desktop-only"></i>
    <p class="text">Hotel</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-plane"></i>
    <p class="text">Flight</p>
  </div>
  <div class="filter">
    <i class="fas fa-umbrella-beach"></i>
    <p class="text">Beach</p>
  </div>
  <div class="filter">
    <i class="fas fa-utensils"></i>
    <p class="text">Food</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-map-marker-alt"></i>
    <p class="text">Location</p>
  </div>

  <!-- Hidden on mobile screens -->
  <div class="filter desktop-only">
    <i class="fas fa-suitcase"></i>
    <p class="text">Business</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-hiking"></i>
    <p class="text">Adventure</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-mountain"></i>
    <p class="text">Mountain</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-ship"></i>
    <p class="text">Cruise</p>
  </div>
  <div class="filter">
    <i class="fas fa-cocktail"></i>
    <p class="text">Nightlife</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-city"></i>
    <p class="text">City</p>
  </div>
  <div class="filter">
    <i class="fas fa-spa"></i>
    <p class="text">Spa</p>
  </div>
  <div class="filter desktop-only">
    <i class="fas fa-biking"></i>
    <p class="text">Biking</p>
  </div>
</div>

<div class="container-fluid main-container">
  <div class="row">
    <% for (listing of listings) { %>
    <div class="col-md-4">
      <a
        href="/listing/<%= listing._id %>/show"
        class="card-link text-decoration-none text-dark"
      >
        <div class="card no-border">
          <img
            src="<%= listing.image.url %>"
            class="card-img"
            alt="<%= listing.title %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text location">
              <strong><%= listing.location %> ~ <%= listing.country %></strong>
            </p>
            <p class="card-text price">
              <strong>
                ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") :
                "N/A" %> / night</strong
              >
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</div>
